.voucher-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: $fw-normal;

  .voucher-bar {
    display: flex;
    align-items: baseline;
    label {
      font-size: $fontSize-normal;
    }

    .input {
      height: 32px;
      input {
        min-height: 30px;
      }
      span {
        margin-right: 0px;
      }
    }
  }
}