
.overflow-content {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.icon-hover-box {
  position: absolute;
  bottom: 134%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--neutral-9, #131313);
  width: 96%;
  // Hiển thị khi hover vào biểu tượng
  .text-iconInformation:hover & {
      display: block;
  }

  .icon-text {
      width: 100%;
      color: var(--default-white, #FFF);
      text-align: center;
      /* Regular/Caption 1 - 12 - regular */
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      /* 133.333% */
      letter-spacing: 0.144px;
  }
}

.arrow-down {
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: 'translateX(-50%) translateY(100%)'
}