.mainPopup {
    max-width: 620px;
    overflow-y: auto;
    padding: 0px 30px;
    padding-bottom: 0px;
    width: 600px;
    height: 50vh;

    .row {
        border-bottom: 1px solid #D8D7D7;
        padding: 5px 0px;

        .drop {
            // cursor: move;
        }
    }
}

.mainTitle {
    border-bottom: 1px solid #D8D7D7;
    max-width: 620px;
    // overflow-y: auto;
    padding: 0px 30px;
    padding-bottom: 0px;
    padding: 10px 30px;

    li {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* hrm/neutral/text */

        color: #333333;
        padding: 10px 0px;

    }

}

.paginationPopup {
    padding: 0px 30px;
}