.cursorPointer{
    cursor: pointer;
}

.ButtonTable{
    width: 100px;
}

.TextIconOption{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    align-items: center;
    color: #333333;
    margin-top: 10px;

}