.sub-icon-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 17px;
  list-style: none;
  height: 60px;
  left: 0;
  &:hover {
    background: $yellow-menu-left;
    cursor: pointer;
    text-decoration:none;
}
}
.sub-icon-link-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 17px;
  list-style: none;
  height: 60px;
  left: -100%;
  background: $yellow-menu-left;
  &:hover {
    background: $yellow-menu-left;
    cursor: pointer;
    text-decoration:none;
  }
}