.customPagination {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    :global {
        .MuiTablePagination-actions {
            display: none !important;
        }
        .MuiPagination-ul{
            // margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10px;
        }

        .MuiTablePagination-select.MuiSelect-select{
            border: 0.5px solid #707070;
            border-radius: 3px;
            padding-top: 3px !important;
            padding-bottom: 3px !important;
            background-color: white;
        }

        .MuiInputBase-root.MuiInputBase-colorPrimary{
            margin-right: 15px !important;
        }
    }
}