.RequestDeletePopup{
    min-width: 400px;

    .TextTitleCancelPostPopup{
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #333333;
        padding: 0px 0px 17px 0px;
    }

    .buttonPopup{
        width: 100px;
    }

    .text{
        font-size: 14px;
        width: 100%;
        text-align: center;
        padding: 0px 20px;
        margin-bottom: 20px;
    }
}