.select {
  .option-custom-line {
    position: relative;
    background-color: $white;
    width: 100%;

    .select-input {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      height: $input-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;

      &:focus-visible {
        outline: none;
      }

      
      .icon-row-select.active {
        transform: rotate(180deg);
      }
    }

    .select-list-modal {
      position: absolute;
      background-color: $white;
      left: 0;
      top: 40px;
      width: 100%;
      min-width: 200px;
      border: 0.5px solid $gray-light-400;
      box-sizing: border-box;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px 0px;
      max-height: 324px;
      overflow-y: auto;
      z-index: 6;

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: $gray-light-400;
      }

      &::-webkit-scrollbar {
        width: 4px;
        background-color: $gray;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray;
      }

      .select-search-box {
        width: auto;
        height: 37px;
        margin: 15px 10px;
        margin-top: 10px;
        .select-search-box-input {
          width: auto;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 0.5px solid $gray-light-400;
          box-sizing: border-box;
          border-radius: 5px;
          padding-inline-start: 10px;
          input {
            outline: none;
            border: none;
            width: 100%;
            margin-left: 5px;
            font-weight: $fw-light;
            font-size: $fontSize-normal;
            line-height: 19px;
            display: flex;
            align-items: center;
            color: $gray;
          }
        }
      }
    }

    .select-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 49px;
      padding-inline: 10px;
      justify-content: space-between;

      &.active {
        background-color: $gray-light;
      }
    }

    .select-result-input {
      width: 100%;
      overflow-y: auto;
      -ms-overflow-style: none;
      max-height: 150px;

      .select-title {
        color: $black;
        font-size: $fontSize-normal;
        font-weight: $fw-light;
        line-height: 19px;
        display: flex;
        align-items: center;
      }

      .select-title.placeholder {
        color: $black;
      }

      .select-item:hover {
        background: $gray-light;
      }

      .selected-item span {
        margin-right: 5px;
      }
    }
  }

  .select-line {
    .select-input {
      border-bottom: 0.5px solid $gray-light-400;

      &:focus-visible {
        box-shadow: 0 0.5px 0 $green;
      }

      &.active {
        border-bottom: 0.5px solid $green;
        box-shadow: none;
      }
    }
  }

  .select-border {
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;

    .select-input {
      border: 0.5px solid $gray-light-400;
      border-radius: 5px;

      &:focus-visible {
        outline: 0.5px solid $green;
      }

      &.active {
        border: 0.5px solid $green;
        outline: none;
      }
    }
    .select-list-modal {
      border-radius: 5px;
    }
  }

  .error-select {
    color: $red;
    text-transform: initial;
    font-size: $fontSize-small;
    line-height: 19px;
    font-weight: $fw-light;
  }
}

.city {
  z-index: 7;
}

.district {
  z-index: 6;
}
.button-pos-select {
  width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  .button-green {
    height: 40px;
    width: auto;
    padding: 10px 20px;
  }
  p {
    padding-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: $fontSize-normal;
    line-height: 22px;
  }
}
