.bases__width--73 {
    width: 73px;
}

.bases__height--32 {
    height: 35px;
}

.bases__padding--5 {
    padding: 5px;
}

.reset_btn {
    border: none;
    outline: none;
    background: none;
    width: 78px;
    // margin-top: -3px;
    color: var(--default-white, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.144px;
    padding: 0;
    justify-content: center;
}