.reset_btn {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    width: 74px;
    height: 16px;
    margin-top: -3px;

}