.purchase-container{

  .purchase-info-content{
    display: flex;
    width: 100%;
    gap: 10px;
  
    .purchase-info-content-left{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      position: relative;
      border-right: 1px solid $gray-light-400;
      margin: -20px 0;
      padding: 20px 0;

  
      .purchase-info-left-item{
        display: flex;
        gap: 10px;
  
        .key{
          width: 200px;
          font-weight: $fw-light;
          color: $gray;
        }
        .value{
          font-weight: $fw-light;
        }
        &::after{
          position: absolute;
          content: ":";
          left: 196px;
        }
      }
    }
  
    .purchase-info-content-right{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      position: relative;
  
  
      .purchase-info-right-item{
        display: flex;
        gap: 10px;
  
        .total-amount-key{
          width: 150px;
          font-weight: $fw-light;
          color: $gray;
        }
  
        .total-amount-value{
          font-weight: $fw-light;
        }
        &::before{
          content: ":";
          position: absolute;
          left: 150px;
        }
      }
    }
  }
  
}
