
.HeadCommonPopup{
    padding: 10px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.122);
    .titlePopup{
        font-size: 18px;
        line-height: 23px;
        text-align: center;
    }
    .iconRight{
        width: 28px;
        height: 28px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D8D7D7;
        border-radius: 50%;
    }
    .iconLeft{
        min-width: 28px;
        height: 28px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}

.HeadCommonBorderPopup{
    margin-bottom: 10px;
    .iconRight{
        width: 28px;
        height: 28px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D8D7D7;
        border-radius: 50%;
    }
    .iconLeft{
        min-width: 28px;
        height: 28px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .titlePopup{
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
}