.Createrecruiters{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.box-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    // padding-bottom: 50px;

    :global {
        .form-online {
            margin-bottom: 7px !important;
        }

        .form-item-upload{
            display: flex;
            flex-direction: column;
            row-gap: 7px;
        }
    }
    .custom-icon-upload {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    
        p {
            margin-bottom: 0px;
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 143% */
    
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.012em;
    
            /* Neutral/5 */
    
            color: #ACACAC;
    
        }
    }
}