.box-container{
    display: grid;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 50px;
    .w-40{
        width: 33.3%;
    }
}
.custom-form-upload{
    width: 20%;
    display: flex;
    justify-content: center;
}

.custom-form-input{
    width: 80%;
}

.uploadImageSection>div{
    text-align: center;
}

.flex_button{
    display: flex;
    align-items: end;
}

.custom-icon-upload p{
    margin-top: 24px;
    color: #E3E3E3;
}

:global{
    .MuiOutlinedInput-notchedOutline{
        top: 0px !important;
    }
}

:global{
    .customFormImages{
        margin: auto !important;
    }
}
.recruitment__detail {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.box__detail {
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;

    &-title {
        margin-bottom: 15px;

        p {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.168px;
        }
    }

    &-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;

        .itemBoxInfo {
            display: flex;
            align-items: center;

            p:nth-child(1) {
                margin: 0;
                min-width: 150px;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.14px;
                color: #707070;
            }
        }
    }
}

.custom-for-filter{
    display: flex;
    align-items: center;
    button {
        border-radius: 3px 0px 0px 3px;
    }
    div {
        border-radius: 0px 3px 3px 0px;
    }
}

// :global{
//     .findx-box .box-content{
//         padding-top: 10px !important;
//         padding-bottom: 10px !important;
//     }
// }