.notification-report-sales-endday {
  .notification-popup-body {
    padding: 0;

    .components__table-wrapper {
      max-height: 350px;
    }
  }
  .select .option-custom-line .select-input {
    height: 40px;
  }
}
