.tabledropdown{
    display: flex;
 
    gap: 10px;
    .item_dropdown{
        display: flex; 
           gap: 10px;
    }


    .dropdown_body{
        display: flex;
    }
    // .dropdown_body.show {
    //     display: none;
    //     width: 199px;
    // }
}